---
description: Verifica e-mail - Documentazione Marketo - Documentazione del prodotto
title: Verifica e-mail
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 95aa6cdcede973e86757b4d9c758e2c7eb4bd5e6
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---

# Verifica e-mail {#email-verification}

Ad Adobe, gli abbonamenti al Marketo Engage richiedono che tutti gli utenti non API verifichino il loro indirizzo e-mail. Gli utenti Single Sign-on (SSO) verificheranno automaticamente la propria e-mail quando l’abbonamento viene attivato con Verifica e-mail.

**Invito utente**

Quando un amministratore invita un utente, viene verificato automaticamente una volta fatto clic sul collegamento di invito. Gli utenti con SSO vengono verificati automaticamente.

**Modifica di un indirizzo e-mail**

Quando l’indirizzo e-mail di un utente viene modificato, non viene verificato. Verrà inviata loro un’e-mail per consentir loro di ricontrollare. Gli amministratori possono inviare nuovamente manualmente l’e-mail facendo clic su **Invia verifica**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Utenti e ruoli**

In Amministratore > Utenti e ruoli, la colonna Stato e-mail mostra lo stato di verifica di ogni utente.

![](assets/email-verification-3.png)

Per verificare un utente non verificato, seleziona il record e fai clic sul pulsante **Verifica e-mail** pulsante .
