---
description: Verifica e-mail - Documentazione Marketo - Documentazione del prodotto
title: Verifica e-mail
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: e76a79927666cf4b197b8acd2e60a3756cc6f2b0
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---

# Verifica e-mail {#email-verification}

Gli abbonamenti a Adobe Marketo Engage richiedono a tutti gli utenti non solo API di verificare il loro indirizzo e-mail. Gli utenti Single Sign-on (SSO) verificheranno automaticamente la propria e-mail quando l’abbonamento viene attivato con Verifica e-mail.

**Invito utente**

Quando un amministratore invita un utente, viene verificato automaticamente una volta fatto clic sul collegamento di invito. Gli utenti con SSO vengono verificati automaticamente.

**Modifica di un indirizzo e-mail**

Quando l’indirizzo e-mail di un utente viene modificato, non viene verificato. Verrà inviata loro un’e-mail per consentir loro di ricontrollare. Gli utenti possono inviare nuovamente manualmente l’e-mail facendo clic su **Invia verifica**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Utenti e ruoli**

In Amministratore > Utenti e ruoli, la colonna Stato e-mail mostra lo stato di verifica di ogni utente.

![](assets/email-verification-3.png)

Per inviare nuovamente un&#39;e-mail di verifica a un utente non verificato, seleziona semplicemente il record e fai clic sul pulsante **Verifica e-mail** pulsante .
