---
description: Verifica e-mail - Documentazione Marketo - Documentazione del prodotto
title: Verifica e-mail
hide: true
hidefromtoc: true
source-git-commit: 7e6fab646ec03394cb406fc41442d585c162bb25
workflow-type: tm+mt
source-wordcount: '10'
ht-degree: 0%

---

# Verifica e-mail {#email-verification}
