---
description: Verifica e-mail - Documentazione Marketo - Documentazione del prodotto
title: Verifica e-mail
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: c45b3ab94b806b53768891613f15b8e9b694a440
workflow-type: tm+mt
source-wordcount: '167'
ht-degree: 0%

---

# Verifica e-mail {#email-verification}

Gli abbonamenti a Adobe Marketo Engage richiedono a tutti gli utenti non solo API, inclusi gli amministratori di Marketo Engage, di verificare il loro indirizzo e-mail. Gli utenti Single Sign-on (SSO) a cui non è assegnato un ruolo Amministratore o a cui viene assegnato un ruolo con l’autorizzazione &quot;Bypass SSO&quot; avranno automaticamente la verifica della propria e-mail quando l’abbonamento viene attivato con la funzione Verifica e-mail.

**Invito utente**

Quando un amministratore invita un utente, viene verificato automaticamente una volta fatto clic sul collegamento di invito. Gli utenti SSO, a cui non è stato assegnato il ruolo Amministratore, vengono verificati automaticamente.

**Modifica di un indirizzo e-mail**

Quando l’indirizzo e-mail di un utente viene modificato, non viene verificato. Verrà inviata loro un’e-mail per consentir loro di ricontrollare. Gli utenti possono inviare nuovamente manualmente l’e-mail facendo clic su **Invia verifica**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Utenti e ruoli**

In Amministratore > Utenti e ruoli, la colonna Stato e-mail mostra lo stato di verifica di ogni utente.

![](assets/email-verification-3.png)

Per inviare nuovamente un&#39;e-mail di verifica a un utente non verificato, seleziona semplicemente il record e fai clic sul pulsante **Verifica e-mail** pulsante .
