---
description: Verifica e-mail - Documentazione di Marketo - Documentazione del prodotto
title: Verifica e-mail
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Verifica e-mail {#email-verification}

Gli abbonamenti a Adobe Marketo Engage richiedono a tutti gli utenti non API solo di verificare il proprio indirizzo e-mail. Gli utenti Single Sign-on (SSO) avranno automaticamente la verifica della propria e-mail quando l’abbonamento viene abilitato con Verifica e-mail.

**Invito utente**

Quando un amministratore invita un utente, quest’ultimo viene verificato automaticamente dopo aver fatto clic sul collegamento di invito. Gli utenti con SSO vengono verificati automaticamente.

**Modifica di un indirizzo e-mail**

Quando l’indirizzo e-mail di un utente viene modificato, non viene verificato. Verrà inviata loro un’e-mail che consentirà di eseguire nuovamente la verifica. Gli utenti possono inviare nuovamente tale e-mail facendo clic su **Invia di nuovo la verifica**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Utenti e ruoli**

In Amministratore > Utenti e ruoli, la colonna Stato e-mail mostra lo stato di verifica di ogni utente.

![](assets/email-verification-3.png)

Per inviare di nuovo un messaggio e-mail di verifica a un utente non verificato, selezionane il record e fai clic su **Verifica e-mail** pulsante.
