---
description: Verifica e-mail - Documentazione Marketo - Documentazione del prodotto
title: Verifica e-mail
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Verifica e-mail {#email-verification}

Penso che tu abbia detto che faremo una nuova pagina che copre la verifica delle e-mail per gli utenti

Invito dell&#39;utente Quando un amministratore invita un utente, nessuna modifica all&#39;interfaccia utente o all&#39;esperienza per l&#39;utente Quando l&#39;utente fa clic sul collegamento di invito, il loro messaggio e-mail viene verificato automaticamente Gli utenti con SSO vengono verificati automaticamente

La schermata dell’account utente mostra l’indirizzo e-mail come verificato Quando l’indirizzo e-mail viene aggiornato, l’interfaccia utente riflette il fatto che l’e-mail per l’account non è stata verificata e l’e-mail viene inviata (vedi l’e-mail allegata)

Amministratore - Pagina Utenti e ruoli Nuova colonna che mostra lo stato di verifica di un utente Nuovo pulsante per attivare nuovamente la verifica dell’e-mail per l’utente

MyMarketo Quando un utente con e-mail non verificata effettua l’accesso, deve visualizzare un banner sulla pagina My Marketo (SOLO).
